.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.radio.select::before {
  content: "";
  display: block;

  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid #fff;

  background-color: var(--main-color);
}
